<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

							<!-- Flipkart Bean  -->

<bean id="fpc" class="org.btm.SpringAutoWiringConstructor_App.FlipkartController" autowire="constructor">
</bean>

							<!-- Dependency Bean  -->
<bean id="ec" class="org.btm.SpringAutoWiringConstructor_App.Electronics"></bean>
<bean id="cs" class="org.btm.SpringAutoWiringConstructor_App.Cosmetics"></bean>
<bean id="fr" class="org.btm.SpringAutoWiringConstructor_App.Furnitures"></bean>
</beans>
